html { 
	height: 90% 
}

body { 
	height: 100%; 
	margin: 20; 
	padding: 20 
}

#map_canvas { 
	width: 30%;
	height: 70%;
	margin: 10px;
	padding: 20px;
	float: left;
}

.sidebar {
	padding: 10px;
	float: right;
}